@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}

blockquote:not(.unstyled) {
  @apply border-l-gray-500 bg-gray-200/10 px-4 py-2 italic;
}